@import url('../colorset.css');

.bar {
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 15vw;
    background-color: var(--color-one);
}

.bar > *{
    margin-top: 2px;
}

.text {
    color: var(--color-four);
}