@import url(../colorset.css);

:root{
    --window-scale:1.1;
    --window-sec:0.7
}

.windown_content{
    position: absolute;
    display: flex;
    flex-wrap: wrap; 
    width: 85vw;
    height: 100vh;
    top: 0vh;
    left: 0vw;
    overflow: hidden;
}

.windown{
    margin: 2vw;
    margin-top: 6vh;
    width: 640px;
    height: 480px;
    transform: scale(var(--window-scale));
    transform-origin: top left;
    z-index: 0;
}

.windown_sec{
    margin: 2vw;
    width: 640px;
    height: 480px;
    transform: scale(var(--window-sec));
    transform-origin: top left;
    z-index: 0;
}

.windown > img{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.windown_sec > img{
    z-index: 1;
    width: 100%;
    height: 100%;
}

.windown_name{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-four);
    border-bottom-right-radius: 10px;
    z-index: 99;
}

.windown_name > *{
    margin: 15px;
}

.windown_Cvlog{
    background-color: var(--color-one);
    margin: 2vw;
    margin-left: -220px ;
    width: 55vw;
    height: 480px;
    transform: scale(var(--window-sec));
    transform-origin: top left;
    z-index: 0;
}

.windown_Cvlog > p{
    color: var(--color-four);
    font-size: 30px;
}